:root{
    background-color: aquamarine;
    accent-color: lightblue;
}
.navigation {
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,fr);
}
.hero {
    position: relative;
    height: 400px;
    background: lightblue;
    overflow: hidden;
    padding: 40px;
    border-radius: 30px;
}

.moving-box {
    width: 60px;
    height: 60px;
    background: red;

    position: absolute;
    top: 100px;
    left: -60px;

    animation: moveBox 5s linear infinite;
}

@keyframes moveBox {
    from {
        left: -60px;
    }

    to {
        left: 100%;
    }
}